body {
height: 10rem;
display: grid;
justify-content: center;
align-items: center;
}

.calculator_container {
   max-inline-size: 22rem;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.number_output{
    font-size: 2rem;
    text-align: end;
    background: rgb(62,62,66);
    color: rgb(252, 245, 229);
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    padding-inline-end: 0.75rem;
}

.number_input{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calculator_key{
    border-style: solid;
    border-color:  	rgb(25,25,112);
    border-width: thin;
    padding-block-end: 0.25rem;
    padding-block-start: 0.25rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    font-size: 2.5rem;
}

.calculator_key:active,
.calculator_key:focus {
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
}

.calculator_key--operator{
    background: rgb(135,206,250);
}

.calculator_key--enter{
    grid-column: 4 /5;
    grid-row: 2/ span 4;
    background: rgb(65,105,225);
}